# ==========================
# Node / Vite / React
# ==========================
node_modules/
dist/
out/
*.log
*.lock
yarn-error.log
yarn-debug.log*
npm-debug.log*
pnpm-debug.log*
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.vite/
.vscode/

# ==========================
# IDEs
# ==========================
.idea/
*.sublime-project
*.sublime-workspace
.vscode/
*.iml
*.ipr
*.iws